/* Columns container  */
.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.container::after{
  content: '';
  display: table;
  clear: both;
}



/* Columns Style*/
[class^="col_"]{
  float: left;
  padding: 15px;
  background: pink;
  border: 0.5px solid black;
  text-align: center;
}

/* columns dimension */
.col_1{
  width: calc(100% / 12);
}

.col_2{
  width: calc((100% / 12) * 2);
}

.col_3{
  /* width: calc((100% / 12) * 3); */
  width: 25%;
}

.col_4{
  width: calc((100% / 12) * 4);
}

.col_5{
  width: calc((100% / 12) * 5);
}

.col_6{
  width: 50%;
}

.col_7{
  width: calc((100% / 12) * 7);
}

.col_8{
  width: calc((100% / 12) * 8);
}

.col_9{
  width: calc((100% / 12) * 9);
}

.col_10{
  width: calc((100% / 12) * 10);
}

.col_11{
  width: calc((100% / 12) * 11);
}

.col_12{
  width: 100%;
}















/*  */
